# yggdrasil global configuration settings
broker = ["{{ mqtt_broker }}"]
log-level = "{{ log_level }}"
cert-file="{{ system_cert_file }}"
key-file="{{ system_key_file }}"
topic-prefix="{{ topic_prefix }}"
